#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 80px;
  width: 80%;
  max-width: 400px;
}

.form > * {
  margin: 15px;
}

.form-input {
  width: 75%;
  max-width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 20px;
}
.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 80px;
  width: 80%;
  max-width: 400px;
}
.products-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.product-card {
  border: #ccc 1px solid;
  box-shadow: initial 0px 0px 5px 0px;
  border-radius: 8px;
  padding: 20px;
}

.product-card > * {
  display: flex;
  margin: 15px;
}
.product-card > p > span {
  font-weight: bold;
  color: aquamarine;
}

.categories-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.categories-list li {
  flex: 1 0 90px;
  text-align: center;
}
